<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的TODLIST</title>
    <link rel="stylesheet" href="dec.css">
     <!-- 引入 Bootstrap -->
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="page-top">
    <div class="page-content">
        <h2>我的TodoList</h2>
    </div>
    <blockquote>
        时间就像海绵里的水，只要愿挤，总会有的。
        <small>鲁迅</small>
      </blockquote>
</div>
<div class="main">
    <h3 class="big-title">添加任务：</h3>
    <div class="input-group">
        <input type="text" class="form-control"
        placeholder="按回车即可添加任务"
        class="task-input"
        type="text"
       v-on:keyup.enter="enterFn"
        v-model="todo"
        >
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"
            @click = 'enterFn'
            >Go!</button>
        </span>
    </div>
    <!-- <input
            placeholder="按回车即可添加任务"
            class="task-input"
            type="text"
           v-on:keyup.enter="enterFn"
            v-model="todo"
    /> -->
    <ul class="task-count">
        <li>{{unComplete}}个任务未完成</li>
        <li class="action">
            <a :class="{active:visibility!=='unCompleted'&&visibility!=='completed'}" href="#all">所有任务</a>
            <a :class="{active:visibility==='unCompleted'}" href="#unCompleted">未完成的任务</a>
            <a :class="{active:visibility==='completed'}" href="#completed">完成的任务</a>
        </li>
    </ul>
    <h3 class="big-title">任务列表：</h3>
    <div class="tasks">
 
        <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
        <ul class="todo-list" v-show="list.length">
            <li class="todo"
                v-for="item in filterData"
                v-bind:class="{completed:item.isComplete,editing:item===edtorTodos}"
            >
                <div class="view">
                    <input class="toggle"
                           type="checkbox"
                           v-model="item.isComplete"
                    />
                    <label @dblclick="edtorTodo(item)">{{item.title}} 生成日期：{{ item.time}}</label>
                    <button
                            class="destroy"
                            @click="delFn(item)"
                    ></button>
                </div>
                <input
                        class="edit"
                        type="text"
                        v-focus="edtorTodos===item"
                        v-model="item.title"
                        @blur="edtoEnd(item)"
                        @keyup.enter="edtoEnd(item)"
                        @keyup.esc="cancelEdit(item)"
                />
            </li>
        </ul>
    </div>
    <footer>
            <button type="button" class="btn btn-default" id="nightMod">阴间模式</button>  
            <button type="button" class="btn btn-success" id="sunMod">阳间模式</button>  
            <button type="button" class="btn btn-warning" @click = "clear()">全部清除</button>
            <button type="button" class="btn btn-default" @click="sortByITime">顺序</button>  
            <button type="button" class="btn btn-success" @click="sortByDTime">反转</button>  
		</footer>
</div>
<!-- 引入vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js.js"></script>

</body>
</html>
